.title{
    font-size: 23px;

}

.daily-item{
    background-color: antiquewhite;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    height: 40px;
    margin: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    padding: 5px 20px;
}

.icon-small{
    width: 40px;

}

.day{
    color: #212121;
    flex: 1 1;
    font-weight: 600;
    margin-left: 15px;

}

.description{
    flex: 1 1;
    margin-right: 15px;
    text-align: right;
}

.min-max{
    color: #757575;
}

.daily-details-grid{
    grid-row-gap: 0;
    grid-column-gap: 15px ;
    column-gap: 15px;
    display: grid;
    flex: 1 1;
    grid-template-columns: auto auto;
    padding: 5px 15px;
}

.daily-details-grid-item{
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: space-between;
}




